<h1><%= @pirate.name %></h1>
<li><%= @pirate.weight %></li>
<li><%= @pirate.height %></li>

<h2><%= @ship1.name %></h2>
<li><%= @ship1.type %></li>
<li><%= @ship1.booty %></li>


<h2><%= @ship2.name %></h2>
<li><%= @ship2.type %></li>
<li><%= @ship2.booty %></li>
